# Import Libraries

In [1]:
import numpy as np
import pandas as pd

# Making a Dataset

In [2]:
df_list= pd.DataFrame({'Roll_Number':[11, 14, 21, 24],
                  'Name':['Surya Chandra','Hamza Sheik','Jenifer Jos','Gurpreet Kaur'],
                  'Age' :[34, 28, 24, 39],
                  'gmail' :['unni@gmail.com', 'hamz@yahoo.com', 'jeny@gmail.com', 'guddi@gmail.com'],
                  'Subjects':['Data Analysis','Data Science','Data Engineering','Data Mining']})

In [3]:
print(df_list)

   Roll_Number           Name  Age            gmail          Subjects
0           11  Surya Chandra   34   unni@gmail.com     Data Analysis
1           14    Hamza Sheik   28   hamz@yahoo.com      Data Science
2           21    Jenifer Jos   24   jeny@gmail.com  Data Engineering
3           24  Gurpreet Kaur   39  guddi@gmail.com       Data Mining

In [4]:
df2 = df_list.Name.str.split(expand=True)  
print(df2)

          0        1
0     Surya  Chandra
1     Hamza    Sheik
2   Jenifer      Jos
3  Gurpreet     Kaur

In [5]:
df2.columns = ['First Name', 'Last Name']
df2

  First Name Last Name
0      Surya   Chandra
1      Hamza     Sheik
2    Jenifer       Jos
3   Gurpreet      Kaur